@media (min-width: 415px) {
  .list-inner {
    padding-left: 14%;
    padding-right: 12%;
    &::before {
      left: -14px;
      transform: rotate(-46deg);
    }
  }
}

@media (min-width: 993px) {
  .container {
    padding-right: 80px;
    padding-left: 80px;
  }

  .list {
    margin-left: -40px;
    margin-right: -40px;
  }

  .list-item {
    width: 400px;
    padding-right: 40px;
    padding-left: 40px;
    cursor: pointer;
  }
}

@media (max-width: 992px) and (min-width: 415px) {
  .container {
    padding-right: 40px;
    padding-left: 40px;
  }
  .list {
    margin-left: -20px;
    margin-right: -20px;
  }
  .list-item {
    width: 360px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 414px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .list {
    margin-left: -10px;
    margin-right: -10px;
  }
  .list-item {
    width: 300px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .list-inner {
    padding-left: 30px;
    padding-right: 20px;
    &::before {
      left: -16px;
      transform: rotate(-50deg);
    }
  }
}
