html,
body {
  height: 100%;
  color: #000;
  line-height: 1.4;
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

body {
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
  background: url(../img/bg/bg.jpg) repeat #000;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a, .as-link {
  color: #1698d9;
  text-decoration: none;
  border-bottom: 1px dashed;
  transition: color 0.3s ease;
  &:hover {
    color: #2ea8e5;
  }
  &:focus {
    outline: none;
  }
}

.as-link {
  cursor: pointer;
}

b, strong {
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0 0 1em;
  font-weight: 600;
  color: #292121;
}

.list-unstyled {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.text {
  &-center {
    text-align: center
  }
  &-left {
    text-align: left
  }
  &-right {
    text-align: right
  }
  &-justify {
    text-align: justify
  }
  &-bold {
    font-weight: bold;
  }
  &-nowrap {
    white-space: nowrap;
  }
  &-lowercase {
    text-transform: lowercase;
  }
  &-uppercase {
    text-transform: uppercase;
  }
  &-capitalize {
    text-transform: capitalize;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  @include clearfix;
}
