html,
body {
  height: 100%;
  color: #000;
  line-height: 1.4;
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

body {
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
  background: url(../img/bg/bg.jpg) repeat #000;
}

a {
  color: #1698d9;
  text-decoration: none;
  border-bottom: 1px dashed;
  transition: color 0.3s ease;
  &:hover {
    color: #2ea8e5;
  }
  &:focus {
    outline: none;
  }
}

.list-unstyled {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
