@font-face {
    font-family: 'Exo2-0-Thin';
    src: url('../fonts/Exo2-0-Thin.eot?#iefix') format('embedded-opentype'),  url('../fonts/Exo2-0-Thin.otf')  format('opentype'),
    url('../fonts/Exo2-0-Thin.woff') format('woff'), url('../fonts/Exo2-0-Thin.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
